name: Sync upstream & build NotOfficial

on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  sync_with_upstream:
    runs-on: ubuntu-latest
    name: Sync master with upstream latest

    steps:
      # Step 1: run a standard checkout action, provided by github
      - name: Checkout master
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.SYNC_TOKEN }}
#          persist-credentials: false
          ref: master
          fetch-depth: 0

      # Step 2: run this sync action - specify the upstream repo, upstream branch to sync with, and target sync branch
      - name: Pull (Fast-Forward) upstream changes
        id: sync
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.3
        with:
          upstream_sync_repo: xbapps/xbvr
          upstream_sync_branch: master
          target_sync_branch: master
          target_repo_token: ${{ secrets.SYNC_TOKEN }}
#          target_branch_push_args: '--force'
          upstream_pull_args: '--tags -f'
          

       # Set test_mode true to run tests instead of the true action!!
#          test_mode: true

      # Step 3: Display a sample message based on the sync output var 'has_new_commits'
#      - name: New commits found
#        if: steps.sync.outputs.has_new_commits == 'true'
#        run: echo "New commits were found to sync."
    
#      - name: No new commits
#        if: steps.sync.outputs.has_new_commits == 'false'
#        run: echo "There were no new commits."
      
#      - name: Show value of 'has_new_commits'
#        run: echo ${{ steps.sync.outputs.has_new_commits }}

#  build-latest:
#    needs: sync_with_upstream
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#        with:
#          fetch-depth: 0 # Required due to the weg Git works, without it this action won't be able to find any or the correct tags
#          ref: master
      - name: Find Tag
        id: tagger
        uses: jimschubert/query-tag-action@v2
        with:
          exclude: '*beta*'
#          include: '0.3.*'
          commit-ish: 'HEAD'
        # if you unshallow in a separate step, use the following option:
          skip-unshallow: 'true'
      - name: Show Tag
        id: display
        run: |
          echo 'Output from Find Tag: ${{steps.tagger.outputs.tag}}'
      - name: checkout code
        uses: actions/checkout@v2
        with:
           ref: refs/tags/${{steps.tagger.outputs.tag}}
# https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
# https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: login to docker hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      - name: build the image
        run: |
          git checkout origin/multi-docker Dockerfile .yarnrc
          docker buildx build --push \
          --tag iamklh/xbvr:latest \
          --platform linux/amd64,linux/arm/v7,linux/arm64 .
