name: Testing Tags
on:
  workflow_dispatch:
jobs:
  get-latest-releases:
    runs-on: ubuntu-20.04
    steps:
    - uses: oprypin/find-latest-tag@v1.1.0
      with:
        repository: therealklh/xbvr  # The repository to scan.
        releases-only: false  # We know that all relevant tags have a GitHub release for them.
#        prefix: '0.3.'
      id: xbvr  # The step ID to refer to later.

    - run: echo "XBVR is at version ${{ steps.xbvr.outputs.tag }}"

 # - uses: actions/checkout@v2
 #   with:
 #     repository: octokit/rest.js  # Download that repository.
 #     ref: ${{ steps.octokit.outputs.tag }}  # At the latest released version, found earlier.
